body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  background-color: black;
}

.main {
  display: flex;
  height: 90vh;
}

.library {
  background-color: #121212;
  color: white;
  width: 22rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  /* 1rem = 16px */
}

.main-content {
  background: linear-gradient(to bottom, #2d2c2ca1, #121212);
  flex: 1;
  border-radius: 0.5rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;
  /* color: white; */
}